/* Hero */
.hero {
  background: #FFF1F7;
  // background: radial-gradient(circle, rgba(255, 241, 247, 1) 0%, rgba(255, 228, 239, 1) 100%);
  background: radial-gradient(circle,rgba(255, 241, 247, 1) 0%, rgba(245, 218, 229, 1) 100%);
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding: 0;
}

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 1rem;
}

.hero .headline {
  font-size: clamp(2.5rem, 7vw, 4rem);
  text-align: center;
  margin-bottom: 0.5em;
}
.hero p.lede {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  color: var(--ink-500);
  max-width: 40ch;
  text-align: center;
  margin-bottom: 1.5em;
}

// .hero-cta {}